*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}body{
    background: #000;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
}
.continer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.maintitle{
    font-size:4rem;
    margin-bottom: 50px;
    margin-left: 550px;
    justify-content: center;
    align-items:center;

}
.content{
 position:relative; 
 width: 1150px;
 display: flex;
justify-content: center;
align-items: center;
}
.content .image{
    position:relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.content .textbx{
    z-index: 223;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 480px;
    border-radius: 10px;
    border: 1px solid rgba(225,225,225,0.1);
    transform: translate(-80px , 50px);
}
.content .textbx h3{
    font-size: 2em;
    margin-bottom: 10px;
}